@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&subset=cyrillic');


.button {
  display: block;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin: 0 auto;
  color: #231919;
  font-family: 'Roboto', serif;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }

  &--green {
    width: 300px;
    background-color: #bcc73a;
    &:hover {
      background-color: #d7e344;
    }
  }
  &--white {
    width: 230px;
    background-color: #ffffff;
    color:  #010101;
    font-size: 14px;
    line-height: 40px;
    &:hover {
      background-color: #d7e344;
    }
  }
}

.to-top__button {
  display: none;
  position: fixed;
  top: 100px;
  left: 50px;
  border: none;
  border-radius: 50%;
  background: rgba(188, 199, 58, 0.5) url(../img/totop/top.png) center center no-repeat;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.5s;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: rgba(188, 199, 58, 1);
  }
}

@media (max-width: 767px) {
  .button--green {
    width: 285px;
  }
  .to-top__button {
    top: 30px;
    left: 20px;
  }
}
