.consultation {
  height: 531px;
}

.consultation__title {
  margin-top: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  line-height: 36px;
}

.consultation__text {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 30px;
}

.consultation__phone {
  color: #c6a239;
  font-size: 30px;
}


.form__button--green {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
  font-size: 14px;
}


.consultation__wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 68px;
}

.consultation__img-men {
  position: absolute;
  top: -60px;
  right: -70px;
  z-index: 5;
}

.form__input {
  display: block;
  width: 282px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #cdcfce;
  margin-bottom: 22px;
  padding-left: 16px;
  font-family: 'Roboto', serif;
  font-size: 14px;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.consultation__feature {
  position: absolute;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  line-height: 24px;
  &-text {
    margin-top: 50px;
    &--4 {
      margin-top: 25px;
    }
  }
  &-text--white {
    color: #ffffff;
  }
  &--1 {
    background: rgba(202, 170, 77, 0.9) url(../../img/consultation/galochka-check.png) center center no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 488px;
    top: 265px;
    z-index: 4;
  }
  &--2 {
    background: rgba(194, 204, 77, 0.9) url(../../img/consultation/galochka-check.png) center center no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 615px;
    top: 134px;
    z-index: 6;
  }
  &--3 {
    background: rgba(194, 204, 77, 0.9) url(../../img/consultation/galochka-check.png) center center no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 735px;
    top: 345px;
    z-index: 6;
  }
  &--4 {
    background: rgba(202, 170, 77, 0.9) url(../../img/consultation/galochka-check.png) center center no-repeat;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    left: 993px;
    top: 285px;
    z-index: 6;
  }
  &--5 {
    background: rgba(194, 204, 77, 0.9) url(../../img/consultation/galochka-check.png) center center no-repeat;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    left: 983px;
    top: 69px;
    z-index: 4;
  }
}

@media (max-width: 1365px) {
  .consultation__feature--1 {
    top: 290px;
    left: 350px;
  }
  .consultation__feature--2 {
    top: 190px;
    left: 470px;
  }
  .consultation__feature--3 {
    top: 320px;
    left: 600px;
  }
  .consultation__feature--4 {
    left: 815px;
  }
  .consultation__feature--5 {
    left: 760px;
  }
  .consultation__img-men {
    right: 0;
    top: 45px;
    width: 750px;
  }
  .consultation {
    padding-left: 20px;
  }
  .consultation__title, .consultation__phone {
    font-size: 28px;
  }
}

@media (max-width: 1023px) {
  .consultation__img-men {
    width: 450px;
    top: 240px;
  }
  .consultation__feature {
    display: none;
  }
}

@media (max-width: 767px) {
  .consultation__img-men {
    display: none;
  }
  .consultation__title {
    font-size: 24px;
  }
  .consultation {
    height: 630px;
  }
  .form__input {
    width: 270px;
  }
}
