.contacts__wrap {
  max-width: 1200px;
  margin: 0 auto;
  height: 243px;
  padding-top: 47px;
}

.contacts__row-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.contacts-title__line {
  height: 1px;
  width: 490px;
  background-color: #bcc73a;
  align-self: center;
}

.contacts-title__text {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
}

.contacts__row-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 975px;
  margin: 0 auto;
}

.contact-item__line {
  height: 90px;
  width: 1px;
  background-color: #dcdcdc;
}

.contact-item {
  text-align: center;
}

.contact-item__wrap-img {
  background: #fff url(../../img/contacts/wrap.png) center -3px no-repeat;
  height: 50px;
}

.contact-item__title {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  margin-top: 12px;
}

.contact-item__discr {
  font-family: 'Roboto', serif;
  font-size: 14px;
  margin-top: 12px;
}

#map {
  width: 100%;
  height: 300px;
}

@media (max-width: 1365px) {
  .contacts-title__line {
    width: 400px;
  }
  .contacts-title__text {
    font-size: 28px;
  }
}

@media (max-width: 1365px) {
  .contacts-title__line {
    width: 290px;
  }
}

@media (max-width: 767px) {
  .contacts-title__line {
    display: none;
  }
  .contacts__row-title {
    display: block;
  }
  .contacts-title__text {
    text-align: center;
  }
  .contact-item__line {
    display: none;
  }
  .contacts__row-item {
    flex-direction: column;
  }
  .contacts__wrap {
    height: 480px;
  }
}
