.features {
  background-color: #fcf9f3;
}

.features__row-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 50px;
}


.features__line {
  height: 1px;
  width: 150px;
  align-self: center;
}

.features__line--left {
  background-color: #bfc942;
}

.features__line--right {
  background-color: #c8a641;
}

.features__libra {
  position: relative;
  height: 82px;
  width: 82px;
  background-color: #ffffff;
  border-radius: 50%;
}

.features__title {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  align-self: center;
}

.features__title--left {
  text-align: right;
}

.features__wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.features__col-1-2 {
  display: inline-block;
  width: 50%;
  margin-left: -5px;
}

.feature {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 30px;
  min-height: 66px;
}

.feature--right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align-last: left;
  margin-top: 25px;
  margin-bottom: 30px;
  min-height: 66px;
}


.feature__discr {
  font-family: 'Roboto', serif;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  align-self: center;
}

.feature__icon {
  margin-left: 50px;
  align-self: center;
  width: 100px;
}

.libra__rack {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  top: 10px;
}

.libra__crossbeam {
  position: absolute;
  left: 18px;
  top: 15px;
  transform: rotate(-25deg);
  animation: crossbeam 5s 2;
}

.libra__bowl--left {
  position: absolute;
  left: 9px;
  top: 15px;
  transform: translateY(8px);
  animation: bowl--left 5s 2;
}

.libra__bowl--right {
  position: absolute;
  top: 15px;
  left: 45px;
  transform: translateY(-8px);
  animation: bowl--right 5s 2;
}

@keyframes crossbeam {
  0% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

@keyframes bowl--left {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes bowl--right {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(-8px);
  }
}

.features__title--mobile {
  display: none;
}

@media (max-width: 1365px) {
  .features__line {
    width: 100px;
  }
  .feature__discr {
    font-size: 15px;
  }
}

@media (max-width: 1023px) {
  .features__line {
    width: 70px;
  }
  .feature {
    animation-delay: 0s !important;
  }
  .features__title--left {
    margin-right: 20px;
    font-size: 18px;
  }
  .features__title--right {
    margin-left: 20px;
    font-size: 18px;
  }
  .feature__icon {
    width: 70px;
    margin-left: 20px;
  }
  .feature__discr {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .features__row-title {
    display: none;
  }
  .features__wrap {
    flex-direction: column;
  }
  .features__title--mobile {
    display: block;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }
  .features__col-1-2 {
    width: 100%;
    margin-left: 0;
  }
  .feature__discr {
    font-size: 15px;
    text-align: left;
  }
  .feature--left {
    flex-direction: row-reverse;
  }
  .feature__icon {
    width: 45px;
    margin-right: 15px;
  }
}
