.feedback__wrap {
  max-width: 1200px;
  margin: 0px auto;
  text-align: center;
  height: 205px;
}

.feedback-title {
  margin-top: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  padding-top: 45px;
}

.feedback__row-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-title__line {
  height: 1px;
  width: 200px;
  background-color: #ffffff;
  align-self: center;
}

@media (max-width: 1365px) {
  .feedback-title__line {
    width: 160px;
  }
  .feedback-title {
    font-size: 28px;
  }
}

@media (max-width: 1023px) {
  .feedback-title {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .feedback-title__line {
    width: 130px;
  }
}

@media (max-width: 767px) {
  .feedback-title__line {
    display: none;
  }
  .feedback-title {
    font-size: 18px;
    margin: 0 auto 40px;
  }
}
