.footer__wrap {
  height: 65px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__text {
  font-family: 'Roboto', serif;
  font-size: 12px;
  align-self: center;
}

.footer_phone {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.footer__link {
  color: #000000;
  &:visited {
    color: #000000;
  }
}

@media (max-width: 1365px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1023px) {
  .footer__text--first {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .footer__wrap {
    text-align: center;
    flex-direction: column;
  }
  .footer__text--first {
    width: 100%;

  }
  .footer__text {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer_phone {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
