.header {
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1170px;
  height: 75px;
}

.header__logo {
  flex: auto;
  &--color {
    font-family: 'Roboto Slab', serif;
    color: #c7a239;
    font-size: 18px;
    margin-left: 23px;
    text-transform: uppercase;
    margin-top: 5px;
  }
  &--big {
    font-family: 'Roboto Slab', serif;
    font-size: 34px;
    margin-top: -12px;
  }
  &--little {
    font-family: 'Roboto', serif;
    font-size: 12px;
    color: #808080;
  }
}

.header__title {
  flex: auto;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  text-transform: uppercase;
  align-self: center;
  margin-left: 10px;
  margin-right: 30px;
  letter-spacing: 1px;
}

.header__menu--tablet {
  display: none;
}
.header__menu {
  flex: auto;
  display: flex;
  flex-direction: row;
}

.menu__item {
  flex: auto;
  margin: 31px 10px;
}

.menu__link {
  font-family: 'Roboto', serif;
  font-size: 12.9px;
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
  &:hover {
    color: #c7a239;
    border-bottom: 4px solid #c7a239;
  }
}

.header__phone {
  flex: auto;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 30px;
}

.phone__number {
  color: #b0b0b0;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  margin-left: 8px;
}

.phone__number--bold {
  color: #000000;
}

.header__menu--mobile {
  display: none;
}

@media (max-width: 1365px) {
  .header {
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu__item {
    margin: 31px 5px;
  }
  .menu__link {
    font-size: 12px;
  }
  .header__title {
    margin-right: 5px;
    font-size: 12px;
  }
  .header__phone {
    margin-left: 0;
  }
  .phone__number {
    font-size: 22px;
  }
  .header__logo--big {
    font-size: 28px;
    margin-top: -6px;
  }
}

@media (max-width: 1023px) {
  .header__menu {
    display: none;
  }
  .header__wrap {
    height: 65px;
  }
  .header__menu--tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .menu__item {
    margin: 5px 5px;
  }
}

@media (max-width: 767px) {
  .header {
    position: absolute;
  }
  .header__wrap {
    flex-direction: column;
    text-align: center;
    margin-top: -20px;
  }
  .header__wrap {
    height: 165px;
  }
  .header__menu--tablet {
    display: none;
  }
  .header__logo--color {
    margin-left: 0;
  }
  .main-screen {
    background-position: -350px 120px !important;
  }

  /* КНОПКА */
  .header__menu--mobile {
    display: block;
    position: relative;
    margin: 10px auto 0;
    width: 300px;
    min-height: 65px;
    background-color: transparent;
  }

  /* Работа переключателя */
  #toggle {
    position: absolute;
    left: -100%;
    top: -100%;
  }
  #toggle:checked ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.0), inset 0 0 0 20px rgba(0, 0, 0, 0.0);
  }
  #toggle:checked ~ .toggle-container .button-toggle:hover {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.0), inset 0 0 0 20px rgba(0, 0, 0, 0.0), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
  #toggle:checked ~ .toggle-container .button-toggle:before {
    transform: translateY(-50%) rotate(45deg) scale(1);
  }
  #toggle:checked ~ .toggle-container .button-toggle:after {
    transform: translateY(-50%) rotate(-45deg) scale(1);
  }
  #toggle:checked:focus ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.0), inset 0 0 0 20px rgba(0, 0, 0, 0.0), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
  #toggle:checked ~ .nav {
    margin-bottom: 70px;
    pointer-events: auto;
    transform: translate(40px, 40px);
  }
  #toggle:checked ~ .nav .nav-item {
    color: #c6a239;
    text-decoration: none;
    letter-spacing: 0;
    height: 30px;
    line-height: 0;
    margin-top: 0;
    opacity: 1;
    transform: scaleY(1);
    transition: 0.5s, opacity 0.1s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(1) {
    transition-delay: 0.15s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(1):before {
    transition-delay: 0.15s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(2) {
    transition-delay: 0.1s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(2):before {
    transition-delay: 0.1s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(3) {
    transition-delay: 0.05s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(3):before {
    transition-delay: 0.05s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(4) {
    transition-delay: 0s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(4):before {
    transition-delay: 0s;
  }
  #toggle:checked ~ .nav .nav-item:before {
    opacity: 0;
  }
  #toggle:checked ~ .dummy-content {
    padding-top: 30px;
  }
  #toggle:checked ~ .dummy-content:before {
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* Кнопка для переключения */
  .button-toggle {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.6s;
  }

  .button-toggle:before, .button-toggle:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #c6a239;
    border-radius: 5px;
    transition: 0.5s;
  }
  .button-toggle:before {
    transform: translateY(-50%) rotate(45deg) scale(0);
  }
  .button-toggle:after {
    transform: translateY(-50%) rotate(-45deg) scale(0);
  }

  /* Меню */
  .nav {
    display: inline-block;
    margin: 10px 25px 10px;
    pointer-events: none;
    transition: 0.5s;
  }

  .nav-item {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-family: 'Roboto', serif;
    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: 0.5s, opacity 1s;
  }
  .nav-item:nth-child(1) {
    transition-delay: 0s;
  }
  .nav-item:nth-child(1):before {
    transition-delay: 0s;
  }
  .nav-item:nth-child(2) {
    transition-delay: 0.05s;
  }
  .nav-item:nth-child(2):before {
    transition-delay: 0.05s;
  }
  .nav-item:nth-child(3) {
    transition-delay: 0.1s;
  }
  .nav-item:nth-child(3):before {
    transition-delay: 0.1s;
  }
  .nav-item:nth-child(4) {
    transition-delay: 0.15s;
  }
  .nav-item:nth-child(4):before {
    transition-delay: 0.15s;
  }
  .nav-item:nth-child(1) {
    letter-spacing: -8px;
  }
  .nav-item:nth-child(2) {
    letter-spacing: -7px;
  }
  .nav-item:nth-child(n + 4) {
    letter-spacing: -8px;
    margin-top: -7px;
    opacity: 0;
  }
  .nav-item:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #c7a239;
    transform: translateY(-50%) scaleY(5);
    transition: 0.5s;
  }

}
