.main-screen {
  background: transparent;
  height: 651px;
  position: relative;
  &__bottom-discr {
    position: absolute;
    height: 169px;
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &__title {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0;
    &--phone {
      color: #c6a239;
    }
  }

  &__sub-title {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    text-align: center;
    color: #2f2626;
    margin-top: 8px;
    margin-bottom: 16px;
    &--free {
      color: #c6a239;
    }
  }
}

.main-screen__circle--text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
}

.main-screen__circle--empty {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.main-screen__text {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  margin-top: 15px;
}

.main-screen__circle-wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.main-screen__text--color {
  color: #c6a239;
}

.main-screen__circle--text {
  &-1 {
    width: 200px;
    height: 200px;
    top: 100px;
  }
  &-2 {
    width: 180px;
    height: 180px;
    top: 285px;
    left: 152px;
  }
  &-3 {
    width: 175px;
    height: 175px;
    top: 292px;
    left: 484px;
  }
  &-4 {
    width: 130px;
    height: 130px;
    top: 88px;
    left: 610px;
  }
  &-5 {
    width: 170px;
    height: 170px;
    top: 240px;
    left: 695px;
  }
  &-6 {
    width: 180px;
    height: 180px;
    top: 83px;
    left: 872px;
  }
  &-7 {
    width: 190px;
    height: 190px;
    top: 264px;
    left: 1008px;
  }
}

.main-screen__text {
  &-4 {
    margin-top: 25px;
  }
  &-2 {
    margin-top: 25px;
  }
  &-5 {
    margin-top: 7px;
  }
  &-6 {
    margin-top: 30px;
  }
  &-7 {
    margin-top: 45px;
  }
}

.main-screen__circle--empty {
  &-11 {
    height: 52px;
    width: 52px;
    top: 177px;
    left: 265px;
  }
  &-12 {
    height: 29px;
    width: 29px;
    top: 189px;
    left: 330px;
  }
  &-21 {
    height: 21px;
    width: 21px;
    top: 301px;
    left: 330px;
  }
  &-22 {
    height: 11px;
    width: 11px;
    top: 292px;
    left: 360px;
  }
  &-31 {
    height: 41px;
    width: 41px;
    top: 336px;
    left: 428px;
  }
  &-32 {
    height: 23px;
    width: 23px;
    top: 325px;
    left: 395px;
  }
  &-41 {
    height: 53px;
    width: 53px;
    top: 150px;
    left: 535px;
  }
  &-42 {
    height: 30px;
    width: 30px;
    top: 175px;
    left: 495px;
  }
  &-51 {
    height: 53px;
    width: 53px;
    top: 243px;
    left: 639px;
  }
  &-52 {
    height: 30px;
    width: 30px;
    top: 250px;
    left: 597px;
  }
  &-53 {
    height: 21px;
    width: 21px;
    top: 253px;
    left: 561px;
  }
  &-54 {
    height: 11px;
    width: 11px;
    top: 257px;
    left: 533px;
  }
  &-61 {
    height: 53px;
    width: 53px;
    top: 177px;
    left: 815px;
  }
  &-62 {
    height: 30px;
    width: 30px;
    top: 193px;
    left: 773px;
  }
  &-63 {
    height: 21px;
    width: 21px;
    top: 201px;
    left: 740px;
  }
  &-64 {
    height: 11px;
    width: 11px;
    top: 209px;
    left: 718px;
  }
  &-71 {
    height: 53px;
    width: 53px;
    top: 339px;
    left: 923px;
  }
  &-72 {
    height: 30px;
    width: 30px;
    top: 350px;
    left: 875px;
  }
}

@media (max-width: 1365px) {
  .main-screen__circle--text-3 {
    left: 380px;
  }
  .main-screen__circle--text-5 {
    left: 570px;
  }
  .main-screen__circle--text-6 {
    left: 800px;
  }
  .main-screen__circle--text-7 {
    left: 770px;
    top: 280px;
  }
  .main-screen__circle--empty {
    display: none;
  }
  .main-screen__sub-title {
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .main-screen__circle--text-2 {
    top: 295px;
    left: 100px;
  }
  .main-screen__circle--text-3 {
    left: 290px;
  }
  .main-screen__circle--text-4 {
    top: 92px;
    left: 335px;
  }
  .main-screen__circle--text-5 {
    top: 180px;
    left: 430px;
  }
  .main-screen__circle--text-6 {
    top: 92px;
    left: 582px;
  }
  .main-screen__circle--text-7 {
    left: 572px;
  }
  .main-screen__title {
    font-size: 26px;
  }
  .main-screen__sub-title {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .main-screen__circle--text {
    display: none;
  }
  .main-screen__bottom-discr {
    height: 270px;
  }
}
