.results {
  background: transparent;
}

.results__wrap {
  max-width: 1200px;
  margin: 0 auto;
  height: 400px;
  padding-top: 47px;
}

.results__row-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.results-title__line {
  height: 1px;
  width: 200px;
  background-color: #bcc73a;
  align-self: center;
}

.results-title__text {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
}

.results__slider {
  max-width: 975px;
  margin: 0 auto;
}

.slide {
  height: 274px;
}

.slick-arrow {
  position: absolute;
  cursor: pointer;
  z-index: 5;
}

.slick-slider img {
  top: 110px;
  &:first-child {
    left: -75px;
  }
  &:last-child {
    right: -75px;
  }
}

.slide__item {
  padding-top: 1px;
  height: 274px;
  width: 435px;
  margin: 0 auto;
  background-color: #ffffff;
}

.slide__col-1-2 {
  display: inline-block;
  width: 50%;
  margin-left: -5px;
}

.slide__text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Roboto', serif;
  font-size: 14px;
}

.slide__text--left {
  text-align: right;
  margin-right: 10px;
}

.slide__text--right {
  margin-left: 10px;
}

.slide__title {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #c7a33a;
  text-align: center;
}

.slide__subtitle {
  margin-top: 14px;
  margin-bottom: 17px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #c7a33a;
  text-align: center;
}

.slide__discr {
  margin-top: 17px;
  font-family: 'Roboto', serif;
  font-size: 14px;
  text-align: center;
}

.slide__line--grey {
  width: 370px;
  height: 3px;
  margin: 0 auto;
  color: #000;
  z-index: 5;
}

.slide__total {
  background-color: #bcc73a;
  height: 43px;
  color: #ffffff;
  line-height: 35px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  margin-top: 18px;
}

@media (max-width: 1365px) {
  .slick-slider img {
    top: 110px;
    &:first-child {
      left: 30px;
      width: 40px;
    }
    &:last-child {
      right: 30px;
      width: 40px;
    }
  }
  .results-title__text {
    font-size: 28px;
  }
  .results-title__line {
    width: 160px;
  }
}

@media (max-width: 1023px) {
  .results-title__text {
    font-size: 20px;
  }
  .results-title__line {
    width: 130px;
  }
  .slide__item {
    width: 350px;
  }
  .slick-slider img {
    top: 60px;
  }
}

@media (max-width: 767px) {
  .results-title__line {
    display: none;
  }
  .results-title__text {
    text-align: center;
  }
  .slide__item {
    width: 300px;
  }
  .results__wrap {
    height: 440px;
  }
  .slide {
    height: 290px;
  }

}
