.services__wrap {
  max-width: 1200px;
  margin: 0 auto;
  height: 400px;
  padding-top: 60px;
}

.services__row-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services-title__line {
  height: 1px;
  width: 200px;
  background-color: #bcc73a;
  align-self: center;
}

.services-title__text {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
}

.services__row-service {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.services__row-service--bottom {
  padding: 0 100px;
}

.service {
  text-align: center;
}

.service-discr {
  font-family: 'Roboto', serif;
  font-size: 14px;
  line-height: 18px;
}

.service_img {
  margin-bottom: 35px;
  margin-top: 37px;
}

@media (max-width: 1365px) {
  .services-title__line {
    width: 160px;
  }
  .services-title__text {
    font-size: 28px;
  }
}

@media (max-width: 1023px) {
  .services-title__text {
    font-size: 20px;
  }
  .services-title__line {
    width: 130px;
  }
}

@media (max-width: 767px) {
  .services-title__line {
    display: none;
  }
  .services-title__text {
    text-align: center;
  }
  .services__row-service {
    flex-direction: column;
    animation-name: name !important;
  }
  .services__wrap {
    height: 1290px;
  }
}
